pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.1
pyyaml>=6.0.1	mlflow>=2.14.1
optuna>=3.6.1
gymnasium>=0.29.1
stable-baselines3>=2.3.2
torch>=2.3.1
qiskit>=1.2.4
qiskit-optimization>=0.6.1
ib-insync>=0.9.86
apscheduler>=3.10.4
matplotlib>=3.9.1
pytest>=8.3.2
